header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 244, 245);

}

h2{
    color: crimson;
}

nav a{
    text-decoration: none;
}
nav li{
    display: inline;  
    border: none;
    padding:15px 40px;
    border-radius: 10px;    
}
nav li:hover{
    background-color: rgb(219, 218, 218);
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 550px;
}