* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: rgb(244, 244, 245);
    padding: 5px 80px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 a{
    color: teal;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.5s ease;

}

nav a:hover{
    background-color: rgb(219, 218, 218);
    background-color: teal;
    color: rgb(232, 232, 232);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}


footer{
    display: flex;
    justify-content: center;
    margin-top: 600px;
}