* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: rgb(244, 244, 245);
    padding: 5px 80px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 a{
    color: teal;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.5s ease;

}

nav a:hover{
    background-color: rgb(219, 218, 218);
    background-color: teal;
    color: rgb(232, 232, 232);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}


footer{
    display: flex;
    justify-content: center;
    margin-top: 600px;
}

.counter-container{
    text-align: center;
}

.counter{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    color: teal;
    font-size: 25px;
}


.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
    font-size: 15px;
    background-color: rgb(240, 240, 240);
    transition: background-color .3s ease;
}

.btn:hover{
    background-color: rgb(212, 212, 212);
}


/* Product CSS */
.product-container{
    width: 200px;
    border: 1px solid hsl(0, 1%, 28%);
    margin: 25px 80px;
    padding: 10px;
    background-color: rgb(240, 240, 240);}


/* Conditional rendering */
.true-greet-head{
    color: teal;
    text-align: center;
    margin: 50px 80px;
    font-weight: 400;
}
.false-greet-head{
    color: crimson;
    text-align: center;
    margin: 50px 80px;
    font-weight: 400;
}


.fruitList{
    margin-top: 50px;
    margin-left: 80px;
}

.fruitList h3{
    color: teal;
    margin-bottom: 15px;
}